@font-face {
    font-family: FC font h1;
    src: url('Marr Sans Desktop Fonts/MarrSans-Bold.otf');
}
@font-face {
    font-family: infoFont;
    src: url('Marr Sans Desktop Fonts/MarrSans-Light.otf');
}
@font-face {
    font-family: subTitle;
    src: url('Marr Sans Desktop Fonts/MarrSans-Semibold.otf');
}
@font-face {
    font-family: titleFont;
    src: url('Marr Sans Desktop Fonts/Marr\ Sans\ Wide-Bold.otf');
}
@keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;}
    
}

header {
    background-color:rgb(221, 119, 91);
    color: white;
    padding: 20px 0;
    text-align: center;
}
/*All project fonts*/
.headerFont{
    font-size: 30px;
    text-align: center;
    font-family: 'FC font h1';
}
.subHeaderFont{
    font-family: 'subTitle';
    animation: fadeIn 3s;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    text-decoration: underline 3px;
}
.infoFont{ 
    font-family: 'infoFont';
    font-size: 18px;
    animation: fadeIn 3s;
}
.titleFont{
    font-size: 35px;
    text-align: center;
  font-family:'titleFont';
   animation: fadeIn 2s;
}
.menuFont{
    font-size: 45px;
    text-align: center;
  font-family:'subTitle';
}
.contactUsFont{
    font-family: 'FC font h2';
    animation: fadeIn 3s;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

/*All things container. May need to separate*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;

    position: relative;
    background-color: inherit;
    /*This width is keeping the timeline containers in shape*/
    width: 50%;
   
}


/* Bottom Navigation bar. It is not in use for official use */
.nav {
    margin: 20px 0;
    background-color: rgb(221, 119, 91);
    padding: 8px;
    margin-top: 7px;
    font-size: 20px;
    color:whitesmoke; 
    text-decoration: none;
}
.nav: hover{
    background-color: rgb(228, 151, 80);
    border: none;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.MenuA a{
    display: block;
    color:whitesmoke ;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font: bold;
    float: center;
    
}


/*For the feedback form. Using Google Form for now
/*.main-feedback-form{
	width:500px;
	margin: 0 auto;
    height: auto;
	padding: 20px 45px 20px 25px;
	border-radius: 5px;}
textarea{
    width: 400px;
    transform: no;
    height: 100px;
    
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-top: 10px;
}*/



/*Eveything timeline below*/
{  box-sizing: border-box;}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin:  auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 15px;
  background-color: rgb(21, 15, 15);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 85px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -30%;
}

/* Place the container to the right */
.right {
  left: 30%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: wheat;
  position: relative;
  border-radius: 6px;
  border-color: #FF9F55;
  
}
